header{
    position: fixed;
    height: 70px;
    width: 100%;
    margin: 0;
    left: 0px;
    top: 0px;
    bottom: 0px;

}
h1{
    margin-top: 30px;
    position: absolute;
    color: darkblue;
    margin-left: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Rectangulo{
    margin-top: 100px;
    margin-left: 50px;
    width: 300px;
    height: 650px;
   border-radius: 50px;
   background-color: white;
 

}
.alien{
  padding-left: 25px;
  padding-top:30px;
  width: 250px;
  height:300px;
 
}
body {
    background-color:#F3F5FC ;

}

main{
    display: flex;
    margin-left: 80px;
    margin-bottom: 50px;
}
section:first-child{
    margin-top: 100px;
    margin-left: 100px;
}
.input-texto{
    margin-top: 90px;
    width: 696px;
    height: 381px;
    padding: 20px;
    border-radius: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 18px;
    color: #0A3871;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
footer {

    position:absolute;
    bottom: 0;
    color: gray;
}

.mensaje {
    margin-left: 20px;
    resize: none;
    border: none;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

.copiar{
    position: center;
    margin-top: 20px;
    margin-left: 110px;
    background-color: blue;
    color: white;
    border-radius: 24px;
    width: 80px;
    height: 30px;
    border-color: blue;
    
}
.copiar:hover{
    background: red; 
    color: white; 
    border-color: red;

}

.botones{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    gap: 24px;
    padding: 0px;
    
}

.encriptar{
    gap: 8px;
    width: 328px;
    height: 67px;
    background-color: blue;
    color: white;
    border-radius: 24px;
    font-size: 25px;
    border-color: blue;
}
.encriptar:hover{
    background: white; 
    color: blue; 
    border-color: blue;
}

.desencriptar{

    gap: 8px;
    width: 328px;
    height: 67px;
    margin-left: 20px;
    border-radius: 24px ;
    background-color: white;
    color: darkblue;
    font-size: 25px;
    border-color: white;
    
    
}
.desencriptar:hover { 
    background: blue; 
    color: white; 
    border-color: blue;
  } 

.informacion{
    font-size: 15px;
}
